<section class="blog">
  <h2>{{title}}</h2>

  <p class="blog__content">{{content}} <br><br><span class="blog__author">by <a
        href="../user/{{user_id}}">{{user.name}}</a> - <span style="font-size:smaller;">{{createdAt}}</span></span></p>
    <button id="add_comment"><i class="fas fa-plus"></i></button>
    <div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>{{user.name}}</h2>
    <p>{{title}}</p>
    <p>{{content}}</p>
    <br><br>
    <form action="input">
      <textarea name="comment" id="comment_input" cols="30" rows="10"></textarea></input></form>
  <button id="submit_comment">Comment</button>
  </div>
</div>
</section>
{{#each comments as |comment|}}
{{> comment-dd}}
{{/each}}