<article>
  <header>
    <h2><a href="blog/{{id}}">{{title}}</a></h2>
    <p>Published on {{createdAt}}</p>
    <a><a href="user/{{user_id}}">{{user.name}}</a>
  </header>
  <p>{{content}}</p>
</article>