<article class="content">
    <h2><a href="blog/{{id}}">{{title}}</a></h2>
    <p class="feint">Published on {{createdAt}}</p>
    <a><a href="user/{{user_id}}">{{user.name}}</a>
    <br><br>
</article>